@import '../node_modules/bootstrap/scss/bootstrap';

$theme-colors: (
  'customblue': #28688c,
  'customlightblue': #2e7fa1,
);

@import '../node_modules/bootstrap/scss/bootstrap';

.bg-customblue {
  background-color: #28688c;
}

.bg-customlightblue {
  background-color: #2e7fa1;
}

.text-customblue {
  color: #28688c;
}

.text-customlightblue {
  color: #2e7fa1;
}
span.disabled {
  pointer-events: none;
  cursor: default;
}

.customhover:hover {
  background-color: #28688c;
}

.customshadow {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3) !important;
}

w-12 {
  width: 12.5% !important;
}

.rem {
  font-size: 1vw;
}

@media screen and (max-width: 768px) {
  .Row {
    flex-direction: column;
  }
}
